{{!--
    This is the default layout applied to any page sent from the server via res.render()

    For more information see http://handlebarsjs.com/
--}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <title>Hello World MAV</title>
    <link rel="stylesheet" href="/css/app.2cf79ad6.css">
</head>
{{!-- <div id='ZN_0AIErOWsRpiF0Wi'><!--DO NOT REMOVE-CONTENTS PLACED HERE--></div> --}}
<body data-bind="css: { 'has-subnav': pageHasSubNav }" class="fixed-footer">
    <h1>Index - Server side rendered</h1>
    <div class="fixed-footer-wrapper">
        {{! The content of the page is inserted here }}
        {{{body}}}
    </div>
    
    <script src="/js/app.712f9b7c.js"></script>
    <script src="/js/chunk-vendors.82de9c84.js"></script>
    
    
</body>

</html>
